@import url("https://fonts.googleapis.com/css2?family=NotoSans&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color-scheme: dark;
}

:root {
	--primary: #3a8bfb;
	--bg: #03151b;
	--bg-secondary: #252934;

	--white: #fef8f8;
	--text-color: #f4fbff;
	--muted-text-color: #a9a9c3;
}

a {
	text-decoration: none;
	font-size: inherit;
	color: inherit;
}

::placeholder {
	color: var(--muted-text-color);
}

li {
	list-style: none;
}

body {
	background-color: var(--bg);
	color: var(--text-color);
	font-family: "Noto Sans", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: min(100%, 1080px);
	margin: 0 auto;
	padding: 20px;
}

header,
nav ul {
	display: flex;
	align-items: center;
}

header {
	position: sticky;
	top: 32px;
	z-index: 99;

	justify-content: space-between;
	gap: 1rem;
	overflow: hidden;

	margin-bottom: 1rem;
	padding-block: 8px 24px;
	border-bottom: 1px solid var(--bg-secondary)
}


.logo {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	line-height: 1;
}

@media (max-width: 669px) {
	.logo span {
		display: none;
	}
}

.logo img {
	height: 15px;
	filter: invert(1);
}

.navbar a {
	padding: 12px 20px;
}

.navbar a:hover {
	color: var(--white);
}

.search__bar {
	position: relative;
}

.search__bar .icon {
	display: block;

	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 18px;
}

input[type="search"] {
	padding: 10px;
	padding-left: 20px;
	width: 200px;

	border: none;
	border-radius: 20px;

	color: inherit;
	font: inherit;

	background-color: transparent;
	outline: 1px solid rgb(255 255 255 / 25%);
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

input:hover,
input:focus {
	background: var(--bg-secondary);
}

.menu {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 24px;
	cursor: pointer;

	z-index: 1;
	position: relative;
}

.menu img {
	filter: invert(1);
}

.weather__report {
	display: flex;
	gap: 1.5rem;
}

.weather__report .content {
	flex-grow: 1;

}

.weather__report article {
	min-height: 300px;
	width: 100%;
	margin-top: 1rem;

	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}

.weather__report article div {
	flex: 1 0 120px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	text-align: center;

	padding: 1rem;
	border-radius: 10px;
	background: var(--bg-secondary);
	color: var(--muted-text-color)
}

.weather__report article div > span:nth-child(2) {
	font-size: 1.5rem;
	color: rgb(158, 209, 229);
}

.weather__report article > div:nth-child(2) > span:nth-child(2) {
	font-size: 3rem;
	color: sandybrown;
}

.fade {
	animation: fade 0.4s forwards;
}

figure {
	width: 25%;
	padding: 1rem;
}

figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.loader {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	border-top: 3px solid var(--primary);
	border-right: 3px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 50em) {
	.overlay {
		content: ' ';
		position: fixed;
		background-color: var(--bg);

		top: 34px;
		right: 4.65rem;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		z-index: 0;
		opacity: 0;
		transition: .7s;
	}

	nav.active + .overlay {
		transform: scale(10);
		width: 100%;
		height: 100%;
		opacity: 1;
	}

	/* nav section css*/
	nav {
		position: fixed;
		z-index: 10;
		top: 82px;
		right: 0;
		width: 100%;
		border-radius: 10px;

		/* background: var(--primary); */
		color: var(--muted-text-color);

		transform: translate(0, 15px);
		opacity: 0;
		visibility: hidden;
		transition: .5s;
	}

	nav.active {
		transform: translate(0);
		opacity: 1;
		visibility: visible;
		transition-delay: .5s;
	}

	.navbar ul {
		flex-direction: column;
		align-items: start;
		padding: 1rem 0;
	}

	.navbar ul li {
		width: 100%;
	}

	.navbar ul a {
		display: block;
	}

	.navbar ul a:hover {
		background-color: rgba(103, 178, 231, 0.12);
	}
}

@media (min-width: 768px) {
	.weather__report article div {
		flex: 1 0 200px;
	}

	.menu {
		display: none;
	}
}