body {
   min-height: 100vh;
   margin: 0;
   padding: 0;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.cards-container,
.slider-container {
   position: relative;
   margin: auto;
}

.slider-container {
   width: min(100%, 1080px);
   overflow: hidden;
   margin-top: 2rem;
}

.cards-content,
.slider {
   display: flex;
   transition: 1s;
}

.slider {
   width: 400%;
   /* important */
   height: 220px;
}

.card figure,
.slide {
   background-color: #a7b7b7;
}

.slide {
   width: 25%;
   aspect-ratio: 2;
   object-position: center;
   border-radius: .5rem;
   margin-inline: 1rem;
   overflow: hidden;
   opacity: .9;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background-color: aqua;
   border-radius: 10px;
}

.arrow {
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   width: 40px;
   height: 40px;
   z-index: 1;
   cursor: pointer;
   opacity: 0;
   filter: invert();
   transition: .25s;
}

.slider-container:hover .arrow {
   opacity: 1;
}

.arrow.left {
   left: 1.5rem;
}

.arrow.right {
   right: 1.5rem;
}

.card-wrapper {
   overflow: hidden;
   position: relative;
   margin-top: 2rem;
}

.card-wrapper::after {
   content: ' ';
   position: absolute;
   inset: 0;
   background: linear-gradient(to right, #ffffff 0%, transparent 15%, transparent 85%, #ffffff 100%);
   z-index: 1;
   inset: 0;
   user-select: none;
   pointer-events: none;
}

.cards-container {
   width: 14rem;
}

.cards-content {
   width: 300%;
   transition: .5s;
}

.card {
   width: 100%;
   aspect-ratio: 9/13;
   border-radius: 10px;
   overflow: hidden;
   background-color: #ded8a1;
   box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transform: scale(.8);
   transition: transform .3s, filter .1s;
}

.card:hover {
   filter: hue-rotate(200deg);
}

.card figure {
   height: 50%;
   margin: 0;
}

.card div {
   height: 50%;
   padding: 0 1rem;
}

a {
   color: rgb(52 52 144);
   font-weight: 600;
}

a:hover {
   color: inherit;
}

.dots {
   padding: 1rem 0;
   display: flex;
   justify-content: center;
}

input[type='radio'] {
   appearance: none;
   background-color: rgb(173, 220, 220);
   border: none;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   margin-right: .2em;
   cursor: pointer;
   transform: scale(.75);
   transition: transform .1s;
}

input[type='radio']:checked {
   background-color: rgb(91, 113, 213);
   transform: scale(1);
}