* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #95BDFF;
  --accent: #ffe1b4;
  --secondary: #B4E4FF;
  --dark: #13151a;
  --light: #f1eef6;
  font-size: 110%;
}

body {
  background: url("./josh-hild-ejMaaCH6Igc-unsplash.jpg") 50% 30%/cover;
  background-color: var(--dark);
  color: var(--light);
  background-blend-mode: hard-light;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  width: min(100%, 420px);
  aspect-ratio: 1;

  padding: 1rem;

  border-radius: 4px;
  line-height: 2;
  text-align: center;
}


h1,
.input-field label {
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.timer-area {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  flex-basis: 80px;

  display: flex;
  flex-direction: column;

  font-size: .75rem;
  font-weight: normal;
  color: var(--accent);
  border: 1px solid #e6e6fa3b;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-block: .5em;
}

h2 span {
  font-size: 2rem;
  font-weight: 600;
}

.input-field {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.input-field input {
  appearance: none;
  border: none;
  outline: none;
  border-radius: 4px;

  background-color: var(--light);
  font-family: inherit;
  padding: 0.5em 1em;
}

.input-field input:hover {
  outline: 2px solid #e89d77;
}